<% provide(:title, "About | sachi") %>
<div class="page-title">
  <h1>About</h1>
</div>
<div class="about-contents">
  <%= image_tag('self_photo.jpg', :class => "self-photo") %>
  <p>東京在住、アラサー。2018年8月〜趣味でプログラミングを始めました。</p>
  <p>広告制作会社に勤務しています。</p>
  <p>単発的なプロモーションのWebサイト/動画制作のPMを4年ほどやっていました。</p>
  <p>第一子出産後、制作現場から離れ情シスへ。1歳、2歳の子供がいます。</p>
  <p>にわか情シスを卒業すべく、育休中にITパスポートと基本情報技術者を取りました。</p>
  <p>好きなものは、広告、映画、カメラ。</p>
</div>
