<% provide(:title, "Contents | sachi") %>
<div class="page-title">
  <h1>Contents</h1>
</div>
<div class="contents-contents">
  <p>作成したアプリケーションです。</p>
  <div class="contents-cards">
    <div class="card mx-auto" style="width: 18rem;">
      <img class="card-img-top" src="assets/kodomogoroku.jpg" alt="Card image cap">
      <div class="card-body">
        <h2 class="card-title">こども語録</h2>
        <p class="card-text">こどものおもしろ発言を投稿・共有するアプリケーションです。
          Rails Tutorialで作成したSample Appをカスタマイズしました。初めて自作したアプリケーションなのでどうか大目に見てください...</p>
        <a href="https://kodomogoroku.herokuapp.com/" class="btn btn-light" target="_blank">Open →</a>
      </div>
    </div>
  </div>
</div>
