<% provide(:title, "sachi") %>
<div class="home-top">
  <%= image_tag('logo_home_main', :class => "logo-home-main") %>
</div>
<div class="home-contents">
  <h2>Welcome to my Website.</h2>
  <p>はじめまして、さちです。</p>
  <p>趣味でプログラミングを学んでいます。</p>
  <p>このサイトは Ruby on Rails で作成してみました。</p>
  <p>自己紹介、作ったアプリケーション、</p>
  <p>お気に入りのモノなどを掲載しています。</p>
  <div class="home-menu row">
    <div class="col-md-6 col-lg-3">
      <a href="/about" class="menu-list">About</a>
    </div>
    <div class="col-md-6 col-lg-3">
      <a href="/contents" class="menu-list">Contents</a>
    </div>
    <div class="col-md-6 col-lg-3">
      <a href="/favorites" class="menu-list">Favorites</a>
    </div>
    <div class="col-md-6 col-lg-3">
      <a href="/contact" class="menu-list">Contact</a>
    </div>
  </div>
</div>
