<% provide(:title, "sachi") %>
<div class="home-top">
  <%= image_tag('logo_home_main', :class => "logo-home-main") %>
</div>
<div class="home-contents">
  <h2>Welcome to my Website.</h2>
  <p>はじめまして。プログラミング習得中のさちです。</p>
  <p>このサイトには、自己紹介、作ったアプリケーション、お気に入りのモノなどを掲載しています。</p>
  <p>よかったらのぞいてみてください。</p>
</div>
