<p class="comment-commenter"><%= comment.commenter %></p>
<div class="comment-body">
  <p class="comment-text"><%= simple_format(comment.body) %></p>
  <p class="comment-date"><%= comment.created_at %></p>
</div>
<%= link_to '-', [comment.favorite, comment], method: :delete,
  data: { confirm: "本当に削除しますか？" }, class: "comment-delete" %>
