<% provide(:title, "Contact | sachi") %>
<div class="page-title">
  <h1>Contact</h1>
  <h2>送信完了</h2>
  <p>お問い合わせいただきありがとうございました。メールにて返答させていただきます。</p>
</div>
<div class="contact-contents">
  <div class="thanks-image">
    <%= image_tag('thank_you.png', :class => "thank-you") %>
  </div>
</div>
