// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import url(https://fonts.googleapis.com/earlyaccess/roundedmplus1c.css);

$dark-gray: #606060;
$right-gray: #dcdcdc;
$logo-color: #475052;
$blue: #aedced;
$gray-blue: #f3f3f2;

//universal

body {
  font-family: "Rounded Mplus 1c";
  font-size: 11pt;
}

.container {
  max-width: 100%;
}

.page-title {
  margin: 50px 0;
  text-align: center;
}

//typography
h1 {
  font-size: 24pt;
  color: $dark-gray;
}


h2 {
  font-size: 16pt;
  color: $dark-gray;
}

p {
  color: $dark-gray;
}


// header

header {
  font-size: 12pt;
  .nav-item {
    margin: 0 10px;
  }
}


// footer

footer {
  margin-top: 70px;
  padding-top: 10px;
  border-top: 1px solid $right-gray;
  color: #808080;
  a {
    color: #808080;
    &:hover {
      color: #494949;
      text-decoration: none;
    }
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 20px;
      font-size: 10pt;
    }
  }
}


// form

.form-group {
  max-width: 700px;
  margin: auto;
  margin-bottom: 20px;
  color: $dark-gray;
}

.btn-common {
  text-align: center;
  margin-top: 50px;
}


// home

.home-top {
  text-align: center;
  background-color: $logo-color;
  padding: 50px 0;
}

.logo-home-main {
  width: 300px;
  height: 300px;
}

.home-contents {
  margin-top: 50px;
  text-align: center;
  h2 {
    display: block;
    padding-bottom: 30px;
  }
}

.home-menu {
  margin: 40px 50px 0 50px;
}

.menu-list {
  display: block;
  font-size: 11pt;
  font-family: 'Montserrat', sans-serif;
  background-color: $blue;
  text-align: center;
  padding: 15px 0;
  margin: 20px 20px;
  border-radius: 5px;
  color: $dark-gray;
  text-decoration: none;
  &:hover {
    color: $dark-gray;
    text-decoration: none;
    background-color: #9ac8d9;
    color: white;
    // opacity: 0.6;
    transition: 0.3s all ease 0s;
  }
}


// about

.about-contents {
  max-width: 700px;
  margin: 0 auto;
  h2 {
    margin-bottom: 30px;
  }
  h2, p, .self-photo {
    text-align: center;
  }
  .self-photo-image {
    width: 120px;
    height: 165px;
    margin-bottom: 30px;
  }
}

.twitter-icon {
  width: 30px;
  height: 30px;
  margin-top: 20px;
}

// contents

.contents-contents {
  text-align: center;
}

.contents-cards {
  margin-top: 50px;
}

.card {
  text-align: left;
}

.card-img-top {
  border-bottom: 1px solid #dcdcdc;
}


// favorites

.favorites-contents {
  text-align: center;
}

.favorites-cards {
  background-color: $gray-blue;
  margin-top: 40px;
  padding: 30px;
}

.favorites-card {
  border: 1px solid $right-gray;
  border-radius: 5px;
  padding: 20px 20px 5px 20px;
  margin: 15px 0;
  background-color: white;
  img {
    max-width: 100%;
    max-height: 150px;
    margin-bottom: 20px;
  }
  .title {
    text-align: left;
    border-top: 1px solid $right-gray;
    padding-top: 20px;
  }
  .content {
    text-align: left;
  }
  .timestamp {
    text-align: right;
    font-size: 8pt;
  }
  &:hover {
    opacity: 0.6;
    transition: 0.3s all ease 0s;
  }
}

.favorites-card-link {
  &:hover {
    text-decoration: none;
  }
}

.favorites-show {
  max-width: 700px;
  margin: 0 auto;
}

.fa-show-main {
  border: 1px solid $right-gray;
  border-radius: 5px;
  padding: 30px;
  .fa-show-title {
    text-align: center;
    font-size: 18pt;
    border-bottom: 1px solid $right-gray;
    padding-bottom: 20px;
  }
  .fa-show-picture {
    margin: 20px auto;
    max-width: 300px;
    img {
      width: 100%;
    }
  }
  .fa-show-content {
    border-top: 1px solid $right-gray;
    padding-top: 20px;
  }
}

.favorite-delete {
  font-size: 1pt;
  text-decoration: none;
  color: white;
  &:hover {
    text-decoration: none;
    color: white;
  }
}

.link-to-favorites {
  color: $dark-gray;
  margin-bottom: 10px;
  display: block;
  &:hover {
    color: #888888;
    text-decoration: none;
  }
}

.fa-show-comment-title {
  margin-top: 40px;
  margin-bottom: 30px;
  text-align: center;
}

.comment-body {
  position: relative;
  width: 100%;
  // background: #e5f2ff;
  background-color: $gray-blue;
  padding: 1px 20px;
  border-radius: 8px;
  &:before {
    content: "";
    position: absolute;
    top: -25px;
    left: 5%;
    margin-left: -25px;
    border: 15px solid transparent;
    border-bottom: 15px solid $gray-blue;
  }
  .comment-date {
    font-size: 7pt;
    text-align: right;
  }
}

.comment-delete {
  font-size: 1pt;
  text-decoration: none;
  color: white;
  &:hover {
    text-decoration: none;
    color: white;
  }
}

.btn-comment {
  text-align: center;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

// contact

.contact-contents {
  p {
    text-align: center;
  }
}

.thanks-image {
  text-align: center;
  .thank-you {
    width: 200px;
    height: 200px;
    text-align: center;
  }
}
